# Ignore everything by default
*

# But not these directories (so Git can traverse them)
!*/

# Allow only Python files
!*.py

# Still ignore compiled Python files and cache dirs
__pycache__/
**/__pycache__/
*.py[cod]

# IDE, build, and other tool folders
.idea/
.vscode/
build/
dist/
splitted_excels/
generated_txts/
keypack.pyu
